* {
  font-family: "DM Sans";
}

:root {
  --dark-gray: #707070;
  --accent: #a18a68;
  --black: #222;
  --gray: #d8d8d8;
  --white: #ffffff;
  --light-gray: #efefef;
}

a {
  text-decoration: none;
  color: var(--black);
}

.navbar-nav .nav-item .active,
.nav-icon .nav-link .active {
  color: var(--accent);
  font-weight: 600;
}

.nav .nav-item .active {
  color: var(--accent);
  font-weight: 600;
  border-bottom: solid var(--accent);
}

.brand-name {
  font-family: "Great Vibes";
  color: var(--black);
}

.navbar-nav .nav-link:hover,
.nav-link:hover {
  color: var(--accent);
}

.heroes {
  background: url(../admin/images/henna-bg.png) no-repeat;
  background-position: right;
  background-position: right;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.accent {
  color: var(--accent);
  text-decoration: none;
}

.btn:hover {
  background-color: var(--accent);
  border: none;
}

.btn {
  border: none;
}

.card {
  width: 420px;
  height: 350px;
  max-width: 430px;
  border: none;
  transition: all 0.3s;
  padding: 10px;
}

.card:hover {
  transform: translateY(-10px);
}

.card-image {
  width: 100%;
  height: 250px;
}

.card-image img {
  position: flex;
  width: 100%;
  height: 100%;
}

.desc {
  -webkit-box-orient: vertical;
  color: var(--accent);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  margin: 0;
  font-size: 13px;
}

.background {
  background-color: var(--accent);
  color: var(--white);
}

.back:hover {
  color: var(--accent);
}

.detail-card {
  width: 100%;
  height: 400px;
  max-width: 430px;
  box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.08);
  border: none;
}

.card-count {
  width: 120px;
  background-color: var(--light-gray);
}

.card-count button {
  cursor: pointer;
  background-color: var(--light-gray);
  border: none;
}

.button-submit {
  height: 50px;
  width: 300px;
  border: 2px solid black;
  background-color: var(--black);
}

.button-submit:hover {
  background-color: var(--accent);
  border: var(--accent);
}

.keranjang {
  background-color: var(--black);
}

.content-menu span {
  color: var(--accent);
}

.nota {
  background-color: var(--black);
}

.nota:hover {
  background-color: var(--accent);
}

.logo {
  position: relative;
  width: 100px;
  height: 100px;
}

.logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* INPUT  */
.input-container {
  position: relative;
  margin: 50px 50px 50px 40px;
  width: 200px;
}

.input-container input[type="text"],
.input-container input[type="email"],
.input-container input[type="password"] {
  font-size: 20px;
  width: 285%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #ccc;
  transition: all 0.3s ease;
  pointer-events: none;
  white-space: nowrap;
}

.input-container input[type="text"]:focus ~ .label,
.input-container input[type="text"]:valid ~ .label,
.input-container input[type="email"]:focus ~ .label,
.input-container input[type="email"]:valid ~ .label,
.input-container input[type="password"]:focus ~ .label,
.input-container input[type="password"]:valid ~ .label {
  top: -20px;
  font-size: 16px;
  color: #333;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 285%;
  background-color: #333;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:valid ~ .underline,
.input-container input[type="email"]:focus ~ .underline,
.input-container input[type="email"]:valid ~ .underline,
.input-container input[type="password"]:focus ~ .underline,
.input-container input[type="password"]:valid ~ .underline {
  transform: scaleX(1);
}

.input-margin {
  margin-left: 320px;
}

.button-submit {
  border: none;
  color: white;
  border-radius: 10px;
  width: 50%;
}

.button-submit:hover {
  background-color: var(--accent);
}

.button {
  color: white;
  background-color: #222;
  border-radius: 0.5rem;
  line-height: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  margin-right: 0.5rem;
  border: none;
}

.button:hover {
  background-color: var(--accent);
}

.button svg {
  display: inline;
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0.75rem;
  color: white;
}

.button:focus svg {
  animation: spin_357 0.5s linear;
}

@keyframes spin_357 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.toggle-password {
  left: 540px;
  cursor: pointer;
}

/* Dropdown */
.dropdown-menu {
  transform: translateX(-50%);
}

/* RESPONSIVE */
@media screen and (max-width: 767px) {
  .input-container .underline,
  .input-container input[type="text"],
  .input-container input[type="email"],
  .input-container input[type="password"] {
    width: auto;
  }

  .input-container {
    margin-left: auto;
    margin-right: auto;
  }

  .dropdown-menu {
    transform: translateX(0);
  }
  .card {
    width: auto;
    height: 350px;
    max-width: auto;
  }
  .row {
    margin-left: 2px;
    margin-right: 2px;
  }
  .toggle-password {
    /* display: none; */
    left: auto;
    right: 20px;
  }
  .button-submit {
    width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .dropdown-menu {
    transform: translateX(0);
  }

  .input-margin {
    margin-left: auto;
    margin-right: auto;
  }
  .card {
    margin: auto;
  }
}
